[submodule "DIY"]
	path = DIY
	url = git@github.com:the-bookshelf/misc-diy.git
[submodule "Piano"]
	path = Piano
	url = git@github.com:the-bookshelf/misc-piano.git
[submodule "Drawing"]
	path = Drawing
	url = git@github.com:the-bookshelf/misc-drawing.git
[submodule "Foreign Languages"]
	path = Foreign Languages
	url = git@github.com:the-bookshelf/misc-foreign-languages.git
[submodule "Economics"]
	path = Economics
	url = git@github.com:the-bookshelf/misc-economics.git
